/* 폰트 */
@font-face
{
    font-family:home_font;
    src:url('../DungGeunMo.ttf');
}

/* 전체 화면 */
html
{
    display:flex;
    flex-direction:column;
    align-items:center;

    width:100vw;
    height:172em;
    min-height:172em;
    margin:0;

    /*
    background-image:url(../background_tile.png);
    background-repeat:repeat;
    background-size:100px;
    */

    background-color:rgb(0, 128, 128); 
}
body
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:32em;
    height:100%;
    margin:0;
}

#body_top
{
    display:flex;
    flex-direction:row;
    justify-content:start;
    align-items:center;
    
    background-image:url(../3_test/background_1.png);
    background-size:contain;
    background-repeat:no-repeat;

    width:100%;
    height:109px;
    min-height:109px;

    background-color:rgb(0, 128, 128);
}

#body_middle
{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;

    flex:1;

    width:100%;
    height:100em;

    background-color:rgb(0, 128, 128);
}

#body_bottom
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    width:100%;
    height:43.7px;
}

#body_bottom #bottom_left
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:384px;
    height:100%;

    background-image:url(../3_test/background_2.png);
    background-size: cover;
    background-repeat:no-repeat;
}

#body_bottom #bottom_right
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    flex:1;

    height:100%;

    background-image:url(../3_test/background_3.png);
    background-size: cover;
    background-repeat:no-repeat;
}

/* 제목 이름 전체 화면 */
#title
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:100%;
    height:0%;
    margin:0;

    /* background:rgb(180, 180, 180); */
}

/* 컨텐츠 전체 화면 */
#home_content
{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items: center;

    width:31em;
    height:81em;
    min-height:81em;

    background-image:url(../4_result/1/3.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
}
#home_content div
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:100%;
    height:100%;
}

/* 이벤트 윈도우 화면 */
#event_window
{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items: center;

    width:31em;
    height:71em;
    min-height:71em;

    background-image:url(../4_result/5/2.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
}

/* 이벤트 윈도우 화면 */
#event_window .result
{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items: center;

    width:100%;
    height:100%;
}

#body_bottom_space
{
    width:32rem;
    height:100px;
    background-color:rgb(192, 192, 192);
}

/*================================================================================
    아래 부터 편집 
  ================================================================================*/

#body_middle #main_space_1
{
    width:80%;
    height:0px;
}

/* 결과 화면 공백 */
#home_content .result #space_1
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:5%;
}

/* 결과 텍스트 화면 */
#home_content .result .text
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    width:80%;
    height:8%;
}

/* 결과 텍스트 화면 */
#home_content .result .img
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    width:80%;
    height:25%;
}

/* 결과 설명 화면 */
#home_content .result .info_window
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    width:80%;
    height:32%;

    background-image:url(../4_result/1/2.png);
    background-size:100% 95%;
    background-repeat:no-repeat;
}

/* 결과 주의사항 윈도우 화면 */
#home_content .result .warn_window
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    width:80%;
    height:28%;

    background-image:url(../4_result/1/4.png);
    background-size:100% 95%;
    background-repeat:no-repeat;
}

/* 결과 화면 공백 */
#home_content .result #space_2
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:2%;
}

#body_middle #main_space_2
{
    width:80%;
    height:30px;
}

/* 이벤트 화면 공백 */
#event_window .result #space_1
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:5%;
}

/* 텍스트: 해시태그 이벤트 */
#event_window .result .name
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:10%;
}

/* 이벤트 텍스트 */
#event_window .result .text_1
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:10%;
}

/* 텍스트: 이벤트 기간, 당첨자 발표 */
#event_window .result .text_2
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:10%;
}

/* 텍스트: 이벤트 설명 */
#event_window .result .info_window_1
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:25%;

    background-image:url(../4_result/5/3.png);
    background-size:100% 95%;
    background-repeat:no-repeat;
}

/* 텍스트: 당첨 상품 */
#event_window .result .text_3
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:4%;
}

/* 텍스트: 치킨, 콜라 */
#event_window .result .text_4
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:10%;
}

/* 유의사항 텍스트 */
#event_window .result .text_5
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:10%;
}

/* 해시태그 윈도우 */
#event_window .result .info_window_2
{
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:center;

    width:80%;
    height:13%;

    background-image:url(../4_result/5/4.png);
    background-size:100% 95%;
    background-repeat:no-repeat;
}

/* 해시태그 윈도우 공간*/
#event_window .result .info_window_2 .window_2_background_space_1
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    width:100%;
    height:15%;
}

/* 해시태그 윈도우 화면*/
#event_window .result .info_window_2 .window_2_background
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    width:100%;
    height:80%;
}

/* 해시태그 복사 텍스트 */
#event_window .result .info_window_2 .window_2_background #text
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:60%;
    height:100%;
}

/* 해시태그 복사하기 버튼 화면*/
#event_window .result .info_window_2 .window_2_background #copy_button
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:40%;
    height:100%;
}

/* 해시태그 복사하기 버튼*/
#event_window .result .info_window_2 .window_2_background #copy_button button
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    font-family: 'home_font';
    font-size:1.1rem;

    width:75%;
    height:75%;

    border:0;

    background:url(../4_result/5/1.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
}

/* 해시태그 윈도우 공간*/
#event_window .result .info_window_2 .window_2_background_space_2
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    width:100%;
    height:5%;
}

/* 이벤트 화면 공백 */
#event_window .result #space_2
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:80%;
    height:3%;
}

#body_middle #main_space_3
{
    width:80%;
    height:30px;
}

#home_button
{
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items: center;

    position:fixed;
    bottom:-1.5%;

    width:32rem;
    height:130px;
}

/* 결과 버튼 1개 화면 */
#home_button .result
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;

    width:100%;
    height:100%;

    background-image:url(../4_result/7/1.png);
    background-size:100% 100%;
}

/* 공유 사진 */
#home_button .result .img
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    width:20%;
    height:80%;

    background-image:url(../4_result/7/3.png);
    background-position:center;
    background-size:80% 80%;
    background-repeat:no-repeat;
}

/* 공유 버튼 */
#home_button .result .share
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    width:60%;
    height:80%;
}

/* 공유 버튼 */
#home_button .result .share button
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    width:100%;
    height:80%;

    border:0;
    outline:0;

    background:url(../4_result/7/4.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
}

/* 결과 버튼 */
#home_button .result .restart
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    width:20%;
    height:80%;
}

/* 결과 버튼 */
#home_button .result .restart button
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    width:90%;
    height:90%;

    border:0;
    outline:0;

    background:url(../4_result/7/2.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
}